body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	margin: 0;
	background-color: #fffdf7;
}

button {
	font-size: 1.2em;
	padding: 10px 20px;
	cursor: pointer;
	border: none;
}

button#start {
	color: #fffdf7;
	background-color: black;
	text-transform: uppercase;
}

#start:hover {
	background-color: #404040;
}

#score {
	position: absolute;
	opacity: 0;
}

#score,
#start {
	position: fixed;
}

@keyframes start {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}