* {
    margin: 0;
}

.navbar {
    position: sticky;
    background-color: black;
    overflow: hidden;
    height: 5rem;
}

.navbar a {
    float:left;
    font-size: 25px;
    margin: 25px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar a:hover {
    font-size: 30px;
}

.navbar .active {
    font-size: 30px;
}

