* {
    margin: 0;
}

.navbar {
    position: fixed;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 5rem;
}

.navbar a {
    height: 100%;
    width: 10%;
    font-size: 25px;
    padding: 25px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar .left {
    float: left;
}

.navbar .right {
    float: right;
}