* {
    margin: 0;
}

.navbar {
    position: fixed;
    background-color: black;
    overflow: hidden;
    width: 100%;
    height: 5rem;
}

.navbar a {
    font-size: 25px;
    margin: 25px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar .left {
    float: left;
}

.navbar .right {
    float: right;
}

.navbar a:hover {
    font-size: 30px;
}

.navbar .active {
    font-size: 30px;
}

#box {
    width: 100px;
    height: 100rem;
    background-color: gray;

}